.card {
  height: 24rem;
  width: 20rem;
  padding: 1rem;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #404040;
  border-radius: 1rem;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
}

.placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #404040;
}

.name {
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.card:hover {
  border-color: #b91c1c;
}

.card:active {
  border-color: #991b1b;
}
